.main{
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
}
.btn-publish-submit{
    float: right;
    margin-bottom: 25px;
}
.alert-danger-text{
    float: left;
}
.media-object {
    width: 40px;
    height: 40px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.menu-list {
    margin-top: 15px;
}
.title-h1{
    font-size: 25px;
    line-height: 30px;
    color: #333;
}
.title-h2{
     font-size: 18px;
     line-height: 30px;
     color: #333;
}
.title-h3{
    font-size: 15px;
    line-height: 30px;
    color: #333;
}
